  include *.rst
  include *.py
  include GPL_LICENSE.txt
  include requirements.txt
  recursive-include docs *.rst
  recursive-exclude docs *.py
  graft pytripgui
  recursive-exclude pytripgui *.pyc
  exclude .gitkeep
  exclude .gitconfig
  exclude pytest.ini
  exclude appveyor.yml
  exclude .deepsource.toml
  exclude *.iss
  exclude *.spec
  prune appveyor
  prune tests
