  include *.bat
  include *.iss
  include *.sh
  include *.spec
  include *.rst
  include *.txt
  include *.py
  include LICENSE
  include tests/requirements-test.txt
  include pytripgui/VERSION
  recursive-include appveyor *.sh
  recursive-include docs *.py
  recursive-include docs *.rst
  recursive-include pytripgui *.py
  recursive-include pytripgui *.fbp
  recursive-include pytripgui *.png
  recursive-include pytripgui *.py
  recursive-include pytripgui *.xrc
  recursive-include pytripgui *.txt
  recursive-include pytripgui *.ui
  recursive-include tests *.py
  exclude .gitkeep
  exclude .gitconfig
  exclude tox.ini
  exclude .travis.yml
  exclude appveyor.yml
  prune .travis
  prune install_deps.sh
