  include *.rst
  include *.py
  include GPL_LICENSE.txt
  include requirements.txt
  recursive-include docs *.rst
  graft pytripgui
  exclude .gitkeep
  exclude .gitconfig
  exclude tox.ini
  exclude appveyor.yml
  exclude .deepsource.toml
  exclude *.iss
  exclude *.spec
  prune appveyor
  prune tests
