name: Python application

on:
  push:
    branches: [ master ]
    tags: ['*']
  pull_request:
    branches: [ master ]
  release:
    types: [published]
    
    
jobs:
  smoke_test:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest        
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[test]"
        sudo apt install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0

    - name: Smoke tests
      env:
        QT_DEBUG_PLUGINS: 1
        DISPLAY: ':99.0'
      run: |         
        ulimit -c unlimited
        xvfb-run --auto-servernum python -m pytest tests
         
         
  normal_test:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    needs: [smoke_test]

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[test]"

    - name: Install dependencies (Linux)
      if: ${{ runner.os == 'Linux' }}      
      run: |
        sudo apt install -y libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0

    - name: Regular test (Linux)
      if: ${{ runner.os == 'Linux' }}      
      env:
        DISPLAY: ':99.0'
      run: |         
        ulimit -c unlimited
        xvfb-run --auto-servernum python -m pytest tests/

    - name: Regular test (Windows)
      if: ${{ runner.os == 'Windows' }}      
      env:
        QT_DEBUG_PLUGINS: 1
      run: |         
        pytest tests/